body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --sidebarBackground: #1e1f20;
  --sidebarColor: #e3e3e3;
  --backgroundColor: #131314;
  --newChatBackground: #13131461;
  --newChatColor: #e3e3e361;
  --actionColor: #e8eaed;
  --upgradeGeminiBackground: #37393b;
  --promptIconColor: #e3e3e3;
  --locationIconColor: #8e918f;
  --updateLocationColor: #a8c7fa;
}
