.homePage {
  height: 100vh;
  display: flex;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--backgroundColor);
}

.header {
  color: var(--gemini-text);
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.75rem;
  padding: 18px 0 16px 24px;
}

.menuAndGeminiContainer {
  display: flex;
}

.menuIcon {
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 16px 16px 16px 0;
}

.geminiDropdown {
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.headerIcon {
  color: var(--headerIconColor);
}

.newChatAndUserLogo {
  display: flex;
  align-items: center;
}

.newChatIcon,
.historyIcon {
  border-radius: 50%;
  font-size: 24px;
  visibility: hidden;
}

.newChatIcon {
  background-color: var(--inputIconBackground);
  margin: 0 8px;
  padding: 4px;
}

.newChatIcon:hover {
  margin: 0;
  padding: 12px;
}

.historyIcon {
  cursor: not-allowed;
  margin: 0 4px;
  padding: 12px;
}

.historyIcon:hover {
  background-color: var(--inputIconBackground);
}

.userAvatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  color: var(--headerIconColor);
  cursor: not-allowed;
  margin-right: 12px;
  font-size: 1rem;
  font-weight: 600;
}

.middleContainer {
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 0 20px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  margin: -50px auto 0;
  max-width: 830px;
  padding: 0 20px;
  width: -webkit-fill-available;
  z-index: 2;
}

.disclaimer {
  color: var(--disclaimerColor);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1rem;
  padding: 1em 0;
  text-align: center;
}

.privacyText {
  cursor: not-allowed;
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  .menuIcon {
    display: block;
  }
  .homeContainer {
    left: 0;
    position: fixed;
  }
  .historyIcon,
  .newChatIcon {
    visibility: visible;
  }
}
